.#{$main} {
    @include container;

    .#{$main}__show-me {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-15px);
        animation: hideElement 0.6s ease-out forwards;

         @keyframes hideElement {
            0% {
                transform: translateY(0px);
                visibility: visible;
                opacity: 1;
            }
            100% {
                transform: translateY(-15px);
                visibility: hidden;
                opacity: 0;
            }
        }

        &--ativo {
            animation: show-me 1s ease-out forwards;
            @keyframes show-me {
                0% {
                    transform: translateY(-15px);
                    visibility: hidden;
                    opacity: 0;
                }
                100% {
                    transform: translateY(0);
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    } 

    .popup-mensagem {
        position: fixed;
        bottom: 2.5rem;

        padding: 1rem 1.4rem;
        background-color: var(--black-primary);
        
        @include fontMontserrat($weight: 600);
        font-size: 1rem;
        line-height: 1.2rem;
        color: var(--white-primary);

        transform: translateX(0vw);
        visibility: hidden;
        animation: hidePopup 0.6s ease-out forwards;
        
        @keyframes hidePopup {
            0% {
                transform: translateX(0px);
                visibility: visible;
            }
            100% {
                transform: translateX(-60vw);
                visibility: hidden;
            }
        }

        &--ativo {
            animation-name: showPopup;
            animation-duration: 0.6s;
            animation-delay: 0.8s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;

            @keyframes showPopup {
                0% {
                    transform: translateX(-60vw);
                    visibility: hidden;
                }
                100% {
                    transform: translateX(0px);
                    visibility: visible;
                }
            }
        }
    }
}