// MEDIA QUERIES
// -- Break Point
$break-point-desktop-big: 1800px;
$break-point-desktop: 1800px;
$break-point-tablet-landscape: 1200px;
$break-point-tablet-portrait: 1050px;
$break-point-mobile: 720px;

/////////////////////////////////

// WIDTH MAX
$width-header-footer-max: 1170px;
// $width-content-max: 680px;

//////////////////////////////////

// CLASS NAME - Caso precise alterar o nome das classe
$header: header;
$main: main;
$footer: footer;