// MEDIA QUERIES
// -- Break Point
$break-point-desktop-big: 1800px;
$break-point-desktop: 1800px;
$break-point-tablet-landscape: 1350px;
$break-point-tablet-portrait: 1170px;
$break-point-mobile: 850px;
$break-point-mobile-landscape: 850px;
$break-point-mobile-portrait: 600px;
$break-point-mobile-portrait-reduced: 420px;

/////////////////////////////////

// WIDTH MAX
$width-header-footer-max: 1170px;

//////////////////////////////////

// CLASS NAME - Caso precise alterar o nome das classe
$header: header;
$main: main;
$footer: footer;